@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;1,300&family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300;400;500&display=swap");

/* Para navegadores WebKit (Chrome, Safari) */
::-webkit-scrollbar {
    width: 6px; /* Largura da barra de rolagem */
}

::-webkit-scrollbar-thumb {
    background-color: #0c6fff; /* Cor da thumb (a "alça" da barra de rolagem) */
    border-radius: 6px; /* Bordas arredondadas da thumb */
}

::-webkit-scrollbar-track {
    background-color: #f8f9fc; /* Cor do track (a área de fundo da barra de rolagem) */
    scrollbar-color: #0c6fff #f8f9fc;
}

.login-container, .criarconta-container, .esqueceuasenha-container{
    background-image: url(../image/login.webp);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100dvh;
    font-family: "Open Sans", sans-serif;
}
.logo{
    width: 100px;
    height: auto;
    margin-bottom: 15px;
}
.login{
    width: 98%;
    max-width: 420px;
    height: auto;
    padding: 2% 1.4%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    gap: 15px;
    border: 1px solid gray;
    background-color: rgba(
    255,
    255,
    255,
    0.74
    ); 
    backdrop-filter: blur(5px);
    border-radius: 8px;
    -webkit-box-shadow: 6px 6px 15px -6px rgba(0, 0, 0, 0.71);
    box-shadow: 6px 6px 15px -6px rgba(0, 0, 0, 0.71);
}
.login label{
    font-size: 16px;
    font-weight: bold;
}
.links-login{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.login input, .esqueceuasenha input{
    height: 42px;
}
h5{
    font-family: "Signika Negative", sans-serif;
    font-weight: bold;
}
.input-password{
    position: relative;
    width: 100%;
}
.input-password input[type="text"]{
    width: 100%;
    padding-left: 8px;
}
.ver-ocultar-senha{
    position: absolute;
    top: 22px;
    right: 0;
    transform: translate(-50%, -50%);
    background-color: transparent;
    border: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form-control{
    padding-left: 8px;
}
/*CRIAR CONTA*/
.criarconta-container{
    width: 100%;
    height: 100dvh;
    background-image: url(../image/login.webp);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.criarconta{
    width: 98%;
    height: 100dvh;
    max-width: 420px;
    max-height: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 1px solid gray;
    background-color: rgba(
    255,
    255,
    255,
    0.74
    ); 
    backdrop-filter: blur(5px);
    border-radius: 8px;
    -webkit-box-shadow: 6px 6px 15px -6px rgba(0, 0, 0, 0.71);
    box-shadow: 6px 6px 15px -6px rgba(0, 0, 0, 0.71);
    padding: 2% 1.4%;
    overflow-y: auto;   
}
.criarconta-box{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.carousel-criarconta{
    border: 0;
    background-color: none;
}
.carousel{
    height: auto;
}
.criarconta-titulo h4{
    margin-bottom: 15px;
    font-family: "Signika Negative", sans-serif;
}
.carousel p{
    margin-top: 5px;
    font-weight: bold;
}
.carousel-inner{
    max-width: 100%;
    margin: 0 auto;
}
.imgs p{
    font-weight: bold;
    margin-top: 8px;
}
.img-criarconta{
    height: 150px;
}
.criarconta-container input{
    height: 50px;
}
.carousel-indicators{
    position: absolute;
    bottom: 0;
    height: auto;
    background-color: gray;
}
.buttons-slide{
    padding: 15px 0;
}
.buttons-slide button{
    padding: 6px;
    border: 1px solid #0b6eff;
    background-color: white;
    border-radius: 100%;
}
.carousel-indicators {
    position: static; /* Remove a posição fixa dos indicadores */
    width: auto;      /* Remove o tamanho fixo */
    margin: 0;        /* Remove a margem automática */
    left: 0;          /* Remove a posição à esquerda */
    bottom: 0;        /* Remove a posição no fundo */
    display: flex;    /* Flexbox layout para alinhamento personalizado */
    justify-content: center; /* Centraliza os indicadores */
    gap: 5px;         /* Espaçamento entre os botões */
    background-color: transparent;
}

.carousel-indicators [data-bs-target] {
    background-color: #0b6eff; /* Cor padrão preta */
    border: none;          /* Remove a borda */
    width: 12px;           /* Define o tamanho dos botões */
    height: 12px;          /* Define o tamanho dos botões */
    border-radius: 50%;    /* Forma circular */
    outline: none;         /* Remove o contorno ao focar */
    box-shadow: none;      /* Remove a sombra padrão */
    transition: background-color 0.3s ease; /* Animação suave de mudança de cor */
}

.carousel-indicators .active {
    background-color: #007bff; 
    border-color: #007bff;    
}

.carousel-indicators [data-bs-target]:hover {
    background-color: #007bff; /* Cor ao passar o mouse */
}
.esqueceuasenha-text{
    text-align: justify;
}
#nextButton, .btn-criar{
    margin-top: 15px;
}

/*ESQUECEU A SENHA*/
.esqueceuasenha{
    width: 98%;
    max-width: 400px;
    height: auto;
    padding: 2% 1.4%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    gap: 15px;
    border: 1px solid gray;
    background-color: rgba(
    255,
    255,
    255,
    0.74
    ); 
    backdrop-filter: blur(5px);
    border-radius: 8px;
    -webkit-box-shadow: 6px 6px 15px -6px rgba(0, 0, 0, 0.71);
    box-shadow: 6px 6px 15px -6px rgba(0, 0, 0, 0.71);
}
/**/
/* Remove setas em Chrome, Safari e outros navegadores baseados em WebKit */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Remove setas no Firefox */
input[type="number"] {
    -moz-appearance: textfield; /* Remove setas no Firefox */
}
/*Solicitação*/
.container-box{
    width: 100%;
}
.titulo{
    background-color: white;
    padding: 1.3%;
}
.notificacao{
    position: relative;
    cursor: pointer;
}
.modal-notificacao{
    max-height: 200px;
    overflow-y: scroll;
}
.notificacao strong{
    position: absolute;
    top: -10px;
    left: 14px;
}
.box-solicitacao{
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 105px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 11px -3px rgba(0,0,0,0.45); 
    box-shadow: 0px 0px 11px -3px rgba(0,0,0,0.45);
    max-width: 340px;
}
@media screen and (max-width: 990px){
    .solicitacao-container{
        flex-wrap: wrap;      
    }
    .box-solicitacao{
        max-width: none;
        width: 45%;
    }
}
@media screen and (max-width: 700px){
    .solicitacao-container{
        flex-wrap: wrap;       
    }
    .box-solicitacao{
        max-width: none;
        width: 100%;
    }
}
.box-solicitacao:nth-child(1){
    border-left: 9px solid #0b6eff;
}
.box-solicitacao:nth-child(2){
    border-left: 9px solid  #00ac6b;
}
.box-solicitacao:nth-child(3){
    border-left: 9px solid #f4a000;
}
.box-solicitacao:nth-child(4){
    border-left: 9px solid #212429;
}
.menu-solicitacao{
    width: 100%;
    height: auto;
    padding: 0 2%;
    margin: 30px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.row-solicitacao, .row{
    width: 100%;
    height: 100%;
    padding: 4px 0;
    margin: 0 auto;
}
.container-solicitacao{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: auto;
}
.titulo-solicitacao{
    display: flex;
    flex-direction: column;
}
.titulo-solicitacao p{
    font-style: italic;
    color: #b6b6b6;
}
.img-solicitacao img{
    width: 100%;
    height: 100%;
}
.carousel2{
    width: 98%;
    max-width: 1200px;
    margin: 30px auto;
    padding: 2%;
    background-color: rgba(
    255,
    255,
    255,
    0.74
    ); 
    backdrop-filter: blur(5px);
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 11px -3px rgba(0,0,0,0.45); 
    box-shadow: 0px 0px 11px -3px rgba(0,0,0,0.45);
}

.col-md-6, .col-md-12 {
    padding-right: 0px !important;
    margin: 0 !important;
}
.file-upload-container {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}
.file-upload-button {
    border: 2px solid #0061f2;
    color: #0061f2;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    text-align: center;
    cursor: pointer;
}
.file-input {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}
.file-name {
    margin-top: 10px;
    font-size: 14px;
    color: #333;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
/*TABELA CONFIG*/
#aprovadas-table, #todas-colicitacoes-table, #pedentes-table, #usuarios-table, #usuariosexcluir-table, #usuariosatualizar-table, #painelsolicitacao-table, #painelreprografiaaprovados-table, #todassolicitacoes-table {
    font-size: 14px; /* Ajuste o tamanho da fonte conforme necessário */
    width: 100%; /* Garante que a tabela ocupe 100% da largura do contêiner pai */
    border-collapse: collapse;
    margin-top: 10px; /* Ajuste conforme necessário */
    text-transform: capitalize;
}
/* Estilo para as células do cabeçalho da tabela */
#aprovadas-table th, #todas-colicitacoes-table th, #pedentes-table th, #usuarios-table th, #usuariosexcluir-table th, #usuariosatualizar-table th, #painelsolicitacao-table th, #painelreprografiaaprovados-table th, #todassolicitacoes-table th{
    background-color: #f2f2f2; /* Cor de fundo para o cabeçalho */
    padding: 10px;
    font-size: 13px;
}
/* Estilo para as células do corpo da tabela */
#aprovadas-table td, #todas-colicitacoes-table td, #pedentes-table td, #usuarios-table td, #usuariosexcluir-table td, #usuariosatualizar-table td, #painelsolicitacao-table td, #painelreprografiaaprovados-table td, #todassolicitacoes-table td{
    font-size: 13px;
    border-bottom: 1px solid #ddd; /* Linha de divisão entre as células */
}
/* Estilo para as linhas pares da tabela */
#aprovadas-table tr:nth-child(even), #todas-colicitacoes-table tr:nth-child(even), #pedentes-table tr:nth-child(even), #usuarios-table tr:nth-child(even), #usuariosexcluir-table tr:nth-child(even), #usuariosatualizar-table tr:nth-child(even), #painelsolicitacao-table tr:nth-child(even), #painelreprografiaaprovados-table tr:nth-child(even), #todassolicitacoes-table tr:nth-child(even){
    background-color: #f9f9f9; /* Cor de fundo para linhas pares */
}
/* Estilo para as células da última coluna (Baixar e Aprovar) */
#aprovadas-table td:nth-last-child(2), #todas-colicitacoes-table td:nth-last-child(2), #pedentes-table td:nth-last-child(2), #usuarios-table  td:nth-last-child(2), #usuariosexcluir-table td:nth-last-child(2), #usuariosatualizar-table td:nth-last-child(2), #painelsolicitacao-table td:nth-last-child(2), #painelreprografiaaprovados-table td:nth-last-child(2), #todassolicitacoes-table td:nth-last-child(2){
    text-align: center;
}
#aprovadas-table_length, #todas-colicitacoes-table_length, #pedentes-table_length, #usuarios-table_length, #usuariosexcluir-table_length, #usuariosatualizar-table_length, #painelsolicitacao-table_length, #painelreprografiaaprovados-table_length,  #todassolicitacoes-table_length{
    display: none;
}
#aprovadas-table_filter,  #todas-colicitacoes-table_filter, #pedentes-table_filter, #usuarios-table_filter, #usuariosexcluir-table_filter, #usuariosatualizar-table_filter, #painelsolicitacao-table_filter, #painelreprografiaaprovados-table_filter, #todassolicitacoes-table_filter{
    margin-bottom: 20px;
}

#usuarios-table_filter label, #aprovadas-table_filter label,  #todas-colicitacoes-table_filter label, #pedentes-table_filter label, #usuariosexcluir-table_filter label, #usuariosatualizar-table_filter label, #painelsolicitacao-table_filter label, #painelreprografiaaprovados-table_filter label, #todassolicitacoes-table_filter label{
    width: 100%;
}
table {
    border-collapse: collapse;
    border-radius: 5px;
    background-color: #eef2f8;
    overflow-x: scroll;
    
}
th, td {
    border: 1px solid #ddd;
    text-align: center;
}
table tbody button{
    background-color: #4e73df;
    color: #fff;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}
table tbody button:hover{
    background-color: #0859ee;
    transition: 250ms;
}
div.dataTables_wrapper div.dataTables_filter {
    text-align: left; /* Alinha o campo à direita */
    width: 100%;
    margin-top: 5px;
}
div.dataTables_wrapper div.dataTables_filter input { 
    padding-left: 15px; /* Preenchimento interno */
    border: 0;/* Borda do campo de pesquisa */
    border-radius: 4px; /* Borda arredondada */
    box-sizing: border-box; 
    height: 40px;
    font-size: 16px;
    outline: 0;
    background-color: #e5eaee;
    width: 100%;
    margin-top: 5px;
}
.sorting_1{
    background-color: #fff;
}
/*RELATORIOS*/
.categorias-relatorios-container{
    padding: 1.3%;
}
.relatorios-box{
    height: 150px;
    background-color: rgb(255, 255, 255);
    margin-bottom: 15px;
    display: flex;
    gap: 25px;
    width: 100%;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 11px -3px rgba(0,0,0,0.45); 
    box-shadow: 0px 0px 11px -3px rgba(0,0,0,0.45);
}
.icone-relatorio{
    width: 40%;
    max-width:150px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.text-relatorio p{
    margin: 0;
}
.text-relatorio{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 100%;
    width: 100%;
    padding: 12px 0;
}
/*PAINEL ADMIN*/
.paineladmin-box{
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    padding: 15px;
}
.paineladmin-box p{
    font-size: 13px;
}
.btn-none{
    border: 0;
    background-color: transparent;
}
.btn-none:hover{
    background-color: transparent;
}
.form-alterar{
    width: 98%;
    max-width: 1200px;
    background-color: white;
    padding: 2%;
    margin: 15px auto;
    border-radius: 5px ;
    -webkit-box-shadow: 0px 0px 11px -3px rgba(0,0,0,0.45); 
    box-shadow: 0px 0px 11px -3px rgba(0,0,0,0.45);
}